* {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: right;
}

.intro {
  display: grid;
  background-color: lightblue;
}

.summary {
  text-align: center;
  width: 255px;
  justify-self: center;
  // background-color: yellow;
  height: 480px;
}

.preamble {
  background-color: white;
}

.preamble, .explanation {
  height: 400px;
}

.participation, .benefits {
  background-color: lightblue;
}

.participation {
  height: 900px;
}

.benefits {
  height: 500px;
}

.requirements {
  height: 800px;
}

footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  height: 70px;
}

footer a {
  color: white;
  text-decoration: none;
}

li {
  font-size: 20px;
  list-style: none;
}

.sidebar {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 800px;
}

