@use "atoms";
@use "molecules";
@use "organisms" as o;
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@mixin bordered($color, $width) {
  border: $width solid $color;
}

/**********************************************
 Global Styles
***********************************************/

* {
  font-family: Work Sans, sans-serif;
  margin: 0;
}

/**********************************************
 Header
***********************************************/

.intro {
  display: grid;
  background-color: lightblue;
  position: relative;
  z-index: -2;

  h2 {
    margin: -10px auto 0;
    max-width: 310px;
  }
}

/**********************************************
 Hero Section
***********************************************/
// TODO: Figure out what image goes here, this is just a placeholder

.summary {
  text-align: center;
  width: 255px;
  justify-self: center;
  // background-color: yellow;
  height: 480px;
  margin-top: 35px;
}

/**********************************************
 Main Section
***********************************************/

.preamble {
  background-color: white;
}

.preamble,
.explanation {
  height: 400px;
}

.participation,
.benefits {
  background-color: lightblue;
}

.participation {
  height: 900px;
}

.benefits {
  height: 500px;
}

.requirements {
  height: 800px;
}

/**********************************************
 Footer
***********************************************/

footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  height: 70px;
}

footer a {
  color: white;
  text-decoration: none;
}

li {
  font-size: 20px;
  list-style: none;
}

.sidebar {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 800px;
}
